GITHUB_GRAPHQL_ENDPOINT = "https://api.github.com/graphql"

// GitHub personal access token
// https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line
GITHUB_OAUTH_TOKEN = ""

MONGODB_URL = "mongodb://localhost"